<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('header'); -%>
  <body class="bg-white">
    <%- include('navigation'); -%>
    <div class="container">
      <a type="button" href="/create">
        Create
      </a>
    </div>

  </body>
  <%- include('footer'); -%>
</html>
