<div class="container px-4 text-center">
  <nav>
    <a href="/">Home</a>
    <a href="/polls">Polls</a>
    <a href="/polls/create">Create Polls</a>
    <a href="/users">Users</a>
    <a href="/users/create">Sign Up</a>
  </nav>
</div>
