<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../header'); -%>
  <body>
    <%- include('../navigation'); -%>
    <div class="container bg-white pb-5">
      <div class="container">
        <form class="" action="/polls/create" method="post">
          <div class="row">
            <div class="col-sm-12 col-md-4 bg-light">
              <h3>Question</h3>
              <div class="container">
                <div class="form-group">
                  <label for="question">Question</label>
                  <textarea name="question_text" rows="4" ></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-8 bg-white">
              <h3>CHOICES</h3>
              <div class="container">
                  <div class="form-group">
                    <label for="question">Choices</label>
                    <div class="form-group">
                      <label for="">A).</label>
                      <input type="text" name="choice_text" value="" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="">B).</label>
                      <input type="text" name="choice_text" value="" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="">C).</label>
                      <input type="text" name="choice_text" value="" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="">D).</label>
                      <input type="text" name="choice_text" value="" class="form-control">
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="container text-center">
            <button class='btn btn-success px-4 py-2'  type="submit" name="button">Create</button>
          </div>
        </form>

      </div>
    </div>

  </body>
  <%- include('../footer'); -%>
</html>
